* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  .formContainer h1{
      text-align:center ;
  }
  .formContainer input{
      padding: 7px;
      margin: 10px;
  }
  body {
    background: #eee;
    padding: 5px 16px;
  }
  .employee{
      padding: 10px;
  }